
/*### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
                  white;
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
*/

body{
  background-color: hsl(225, 100%, 98%);
  background-repeat:no-repeat;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}

h1{
  font-family: 'Red Hat Display', sans-serif;
  color: hsl(223, 47%, 23%);
  margin-top: 16px;
  font-weight: 900;
}

h4{
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 0;
  margin-top: 10px;
}

p{
  font-family: 'Red Hat Text', sans-serif;
  font-size: 16px;
  color: hsl(224, 23%, 55%);
}

td{
  padding-left: 20px;
}

.cancel{
  font-family: 'Red Hat Display', sans-serif;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-weight: bold;
  margin: auto;
  font-size: 20px;
  display: block;
}

.cancel:hover{
  color: grey;
}

.planlink{
  font-family: 'Red Hat Text', sans-serif;
}

.planlink:hover{
  color: blue;
}

.main{
  margin-top: 60px;
  margin-bottom: 20px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06);
  background-color: white;
  width: 450px;
  display: inline-block;
  border-radius: 1rem;
  padding-bottom: 30px;
}

.top{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.container{
  display: inline-block;
  width: 60%;
  margin-top: 0;
}

.plan{
  background-color: hsl(225, 100%, 98%);
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 1rem;
  position: relative;
}

.planlink{
  position: absolute;
  top: 33px;
  right: 16px;
  color: hsl(223, 47%, 23%);
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
}

.plantxt{
  margin-top: 8px;
  margin-bottom: 16px;
}

.btn {
  /*-webkit-border-radius: 8;
  -moz-border-radius: 8;*/
  border-color: transparent;
  border-radius: 8px;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06);
  font-family: 'Red Hat Text', sans-serif;
  color: white;
  font-size: 20px;
  background: #1A1178;
  padding: 8px 90px 10px 90px;
  margin-top: 20px;
  margin-bottom: 30px;
  text-decoration: none;
}

.btn:hover {
  background: #291ba1;
  border-color: transparent;
  background-image: -webkit-linear-gradient(top, #291ba1, #1d0e7d);
  background-image: -moz-linear-gradient(top, #291ba1, #1d0e7d);
  background-image: -ms-linear-gradient(top, #291ba1, #1d0e7d);
  background-image: -o-linear-gradient(top, #291ba1, #1d0e7d);
  background-image: linear-gradient(to bottom, #291ba1, #1d0e7d);
  text-decoration: none;
}
